---
import { EXPERIENCE } from '@/contants/experience'
---

<section id="experience" class="px-6 py-24">
  <div class="m-auto max-w-screen-lg">
    <h2 class="mb-12 font-bold text-4xl md:text-5xl text-center">Experiencia</h2>
    <div class="flex flex-col gap-6">
      {
        EXPERIENCE.map(({ role, company, description, startDate, endDate }, index) => (
          <article
            class="flex md:flex-row flex-col gap-4 shadow shadow-slate-200 px-6 md:px-8 py-8 border border-slate-200 rounded-xl"
            class:list={[
              {
                'bg-slate-200': index == 0,
                'bg-slate-100': index == 1,
                'bg-slate-50': index == 2
              }
            ]}
          >
            <div class="w-full md:w-1/4 text-lg text-nowrap">
              <time datetime={startDate?.dateTime}>{startDate.textTime}</time> -{' '}
              <time datetime={endDate?.dateTime}>{endDate.textTime}</time>
            </div>
            <div class="w-full md:w-3/4">
              <h3 class="mb-4 font-semibold text-lg md:text-xl">
                {role} - {company}
              </h3>
              <ul class="[&>li]:mb-1 pl-4 text-slate-600 text-sm md:text-base list-disc">
                {description.map((item) => (
                  <li>{item}</li>
                ))}
              </ul>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
