---
import EXPERIENCE from '@/contants/experience.ts'
const experienceLength = EXPERIENCE.length
---

<section id="experience" class="px-4 py-24">
  <div class="mx-auto max-w-5xl">
    <h2 class="mb-12 font-bold text-4xl md:text-5xl text-center">Experiencia</h2>
    <ul class="timeline-snap-icon timeline timeline-compact timeline-vertical">
      {
        EXPERIENCE.map(({ role, company, description, startDate, endDate }, index) => (
          <li style="--timeline-row-start:1.75rem">
            {index !== 0 && <hr class="bg-base-content" />}
            <div class="timeline-middle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div class="mb-8 p-6 rounded-2xl timeline-start glass">
              <time class="font-mono italic" datetime={startDate.dateTime}>
                {startDate.textTime}
              </time>{' '}
              -{' '}
              <time class="font-mono italic" datetime={endDate.dateTime}>
                {endDate.textTime}
              </time>
              <h3 class="text-primary text-lg">
                <span class="font-extrabold">{company}</span> - <span class="font-semibold">{role}</span>
              </h3>
              <ul class="[&>li:last-child]:mb-0 [&>li]:mb-[.5lh] pl-4 text-sm md:text-base list-disc">
                {description.map(item => (
                  <li>{item}</li>
                ))}
              </ul>
            </div>
            {index !== experienceLength - 1 && <hr class="bg-base-content" />}
          </li>
        ))
      }
    </ul>
  </div>
</section>
