---
import { Image } from "astro:assets";
import ExternalLinkIcon from "@/components/icon/external-link.astro";
import GithubIcon from "@/components/icon/github.astro";
import { PROJECTS } from "@/contants/projects";
---

<section id="projects" class="px-6 py-24">
  <div class="max-w-screen-lg m-auto">
    <h2 class="mb-12 text-4xl font-bold text-center md:text-5xl">Proyectos</h2>
    <div class="grid gap-6">
      {
        PROJECTS.map(
          (
            { name, img, description, siteUrl, srcCodeUrl, mainBtn, secBtn },
            index,
          ) => (
            <article
              class="flex flex-col justify-between gap-6 px-6 py-8 border shadow md:px-8 md:flex-row-reverse rounded-xl shadow-slate-200 border-slate-200"
              class:list={[
                {
                  "!border-amber-300 !shadow-amber-300": index == 0,
                },
              ]}
            >
              {img && (
                <Image
                  class="mb-8 md:mb-0 object-contain w-52 md:w-64 mx-auto drop-shadow-[4px_4px_10px_rgba(0,0,0,.5)]"
                  src={img}
                  alt={`Imagen de proyecto ${name}`}
                  width={300}
                  height={200}
                />
              )}

              <div>
                <h3 class="mb-4 text-lg font-bold md:text-xl">{name}</h3>
                <p class="mb-6 text-sm text-slate-600 md:text-base">
                  {description}
                </p>
                <div class="flex gap-1 md:gap-4">
                  <a
                    class="flex items-center justify-center flex-1 gap-1 px-4 py-3 text-sm font-semibold text-white md:gap-2 md:text-base md:px-6 md:flex-none hover:shadow-md hover:shadow-slate-300 from-amber-500 to-amber-600 bg-gradient-to-br rounded-xl"
                    href={siteUrl}
                    target="_blank"
                  >
                    {mainBtn}
                    <span>
                      <ExternalLinkIcon size={24} />
                    </span>
                  </a>
                  <a
                    class="flex gap-1 px-4 py-3 text-sm font-semibold bg-transparent border md:gap-2 md:text-base md:px-6 h-fit hover:shadow-md hover:shadow-slate-300 border-slate-800 rounded-xl"
                    href={srcCodeUrl}
                    target="_blank"
                  >
                    {secBtn}
                    <span>
                      <GithubIcon size={24} />
                    </span>
                  </a>
                </div>
              </div>
            </article>
          ),
        )
      }
    </div>
  </div>
</section>
