---
import { REFERENCES } from '@/contants/references.js'
import { Carousel } from '@/components/Carousel'
---

<section id="references" class="px-4 py-24">
  <div class="m-auto max-w-5xl">
    <h2 class="mb-12 px-6 font-bold text-4xl md:text-5xl text-center">Referencias</h2>

    <Carousel client:idle
      >{
        REFERENCES.map(({ name, image, role, link, rec }) => (
          <div class="p-2 min-w-full md:min-w-1/2 snap-center md:snap-start">
            <article class="p-6 md:p-8 rounded-2xl h-full glass">
              <img
                src={image}
                alt={`Imagen de ${name}`}
                class="p-1 border-2 border-primary rounded-full object-cover aspect-square"
                width={80}
                height={80}
              />

              <a href={link} target="_blank" class="font-semibold text-lg md:text-xl link link-primary">
                {name}
              </a>
              <small class="block mb-4 text-neutral-400 text-sm">{role}</small>

              <div class="[&>p:last-child]:mb-0 [&>p]:mb-[.5lh]">
                {rec.map(paragraph => (
                  <p class="text-sm md:text-base">{paragraph}</p>
                ))}
              </div>
            </article>
          </div>
        ))
      }</Carousel
    >
  </div>
</section>
