---
import { Image } from 'astro:assets'
import { REFERENCES } from '@/contants/references.js'
import LinkedinIcon from '@/components/icon/linkedin.astro'
---

<section id="references" class="py-24">
  <div class="m-auto max-w-screen-lg">
    <h2 class="mb-12 px-6 font-bold text-4xl md:text-5xl text-center">Referencias</h2>

    <div class="relative">
      <div
        class="hidden-scrollbar flex gap-4 md:grid md:grid-cols-2 px-6 py-2 overflow-x-scroll scroll-smooth snap-mandatory snap-x references-carrousel"
      >
        {
          REFERENCES.map(({ name, image, role, link, rec }) => (
            <div class:list={['min-w-[90%] snap-center']}>
              <article class="relative bg-white shadow-md shadow-slate-300 px-6 md:px-8 py-8 rounded-3xl h-full">
                <Image
                  src={image}
                  alt={`Imagen de ${name}`}
                  class="p-1 border-2 border-amber-400 rounded-full object-cover aspect-square"
                  width={80}
                  height={80}
                />

                <a
                  href={link}
                  target="_blank"
                  class="font-bold text-amber-600 hover:text-amber-500 text-lg md:text-xl underline"
                >
                  {name}
                </a>
                <small class="block mb-4 text-slate-500 text-sm">{role}</small>

                <div class="[&>p:last-child]:mb-0 [&>p]:mb-[.5lh]">
                  {rec.map(paragraph => (
                    <p class="text-slate-600 text-sm md:text-base whitespace-pre-line">{paragraph}</p>
                  ))}
                </div>

                <div class="top-4 right-8 absolute text-sky-600/5">
                  <LinkedinIcon size={96} />
                </div>
              </article>
            </div>
          ))
        }
      </div>

      <button class="hidden md:hidden top-1/2 left-3 references-carrousel-left-btn z-10 absolute">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon-tabler icon-tabler-circle-arrow-left icons-tabler-filled icon"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 2a10 10 0 0 1 .324 19.995l-.324 .005l-.324 -.005a10 10 0 0 1 .324 -19.995zm.707 5.293a1 1 0 0 0 -1.414 0l-4 4a1.048 1.048 0 0 0 -.083 .094l-.064 .092l-.052 .098l-.044 .11l-.03 .112l-.017 .126l-.003 .075l.004 .09l.007 .058l.025 .118l.035 .105l.054 .113l.043 .07l.071 .095l.054 .058l4 4l.094 .083a1 1 0 0 0 1.32 -1.497l-2.292 -2.293h5.585l.117 -.007a1 1 0 0 0 -.117 -1.993h-5.586l2.293 -2.293l.083 -.094a1 1 0 0 0 -.083 -1.32z"
          ></path></svg
        >
      </button>
      <button class="md:hidden top-1/2 references-carrousel-right-btn right-3 z-10 absolute">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon-tabler icon-tabler-circle-arrow-right icons-tabler-filled icon"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 2l.324 .005a10 10 0 1 1 -.648 0l.324 -.005zm.613 5.21a1 1 0 0 0 -1.32 1.497l2.291 2.293h-5.584l-.117 .007a1 1 0 0 0 .117 1.993h5.584l-2.291 2.293l-.083 .094a1 1 0 0 0 1.497 1.32l4 -4l.073 -.082l.064 -.089l.062 -.113l.044 -.11l.03 -.112l.017 -.126l.003 -.075l-.007 -.118l-.029 -.148l-.035 -.105l-.054 -.113l-.071 -.111a1.008 1.008 0 0 0 -.097 -.112l-4 -4z"
          ></path></svg
        >
      </button>

      <script>
        const lBtn = document.querySelector('.references-carrousel-left-btn') as HTMLButtonElement
        const rBtn = document.querySelector('.references-carrousel-right-btn') as HTMLButtonElement
        const carrousel = document.querySelector('.references-carrousel')

        lBtn.addEventListener('click', () => {
          carrousel.scrollBy(-carrousel.clientWidth, 0)
        })
        rBtn.addEventListener('click', () => {
          carrousel.scrollBy(carrousel.clientWidth, 0)
        })

        carrousel.addEventListener('scroll', () => {
          const atStart = carrousel.scrollLeft === 0
          const atEnd = carrousel.scrollLeft >= carrousel.scrollWidth - carrousel.clientWidth - 1

          if (atStart) {
            lBtn.classList.add('hidden')
          } else {
            lBtn.classList.remove('hidden')
          }

          if (atEnd) {
            rBtn.classList.add('hidden')
          } else {
            rBtn.classList.remove('hidden')
          }
        })
      </script>
    </div>
  </div>
</section>
