---
import '@/styles/global.css'
import '@fontsource-variable/outfit'
import { Image } from 'astro:assets'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import backgroundImage from '@assets/bg.svg'

interface Props {
  title: string
  description: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index,follow" />

    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Fabián Morag",
        "url": "https://fabianmorag.com/",
        "image": "https://fabianmorag.com/fabian-morag.webp",
        "sameAs": ["https://github.com/FabianMorag", "https://www.linkedin.com/in/fabi%C3%A1n-morag-b92376241/"],
        "jobTitle": "Software Engineer, Web Developer, Software Developer",
        "worksFor": {
          "@type": "Organization",
          "name": "Innovex Spa"
        }
      }
    </script>
  </head>

  <body>
    <Image
      src={backgroundImage}
      alt="Background Image"
      class="-z-10 fixed opacity-75 w-full h-full object-cover"
      loading="eager"
    />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
